body{
  margin: 0px;
  background-color: #E8E8E8;
}
header{
  width: 1450px;
  height: 100px;
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid red;
  margin-bottom: 10px;
}
main{
  width: 1450px;
  height: 1000px;
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid red;
  margin-bottom: 10px;
}
footer{
  width: 1450px;
  height: 200px;
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid red;
}